{% extends 'main.html' %} {% block title %}{{ user.username }} | Studybuddy{% endblock %} {% block content %}
<main class="profile-page layout layout--3">
    <div class="container">
        {% include 'base/topics_component.html' %}

        <div class="roomList">
            <div class="profile">
                <div class="profile__avatar">
                    <div class="avatar avatar--large active">
                        <img src="{{ user.avatar.url }}" alt="avatar user">
                    </div>
                </div>
                <div class="profile__info">
                    <h3>{{ user.username }}</h3>
                    <p>{{ user.email }}</p>
                    {% if request.user == user %}
                    <a href="{% url 'settings' %}" class="btn btn--main btn--pill">Edit Profile</a> {% endif %}
                </div>
                <div class="profile__about">
                    <h3>About</h3>
                    {% if request.user.bio %}
                    <p>{{ request.user.bio }}</p>
                    {% else %}
                    <p>Tambahkan bio mu</p> <a href="{% url 'settings' %}">here</a> {% endif %}
                </div>
            </div>
            {% include 'base/feeds.html' %}
        </div>

        {% include 'base/activity.html' %}
    </div>
</main>

{% endblock content %}